html,
body {
  height: 100%;
  margin: 0;
}


html,
h2,
h4,
p {
  background-color: transparent;
  color: white;
}

nav {
  background-color: crimson;
  height: 3rem;
}

span {
  display: none;
}

img {
  height: 1rem;
  margin: -0.5rem -1rem 0 0;
}

h2 {
  margin: -2.5rem 0 -1rem -1rem;
}

.uk-navbar-right,
.uk-navbar-left {
  margin: auto;
}

blockquote {
  background-color: #FF436745;
  color: crimson;
  margin: 1rem 2rem 1rem 2rem;
  padding: 0 1rem 0 1rem;
  border-radius: 0.5rem;
}

nav,
blockquote {
  -webkit-animation: drop 0.4s;
  animation: drop 0.4s;
}

input[type="checkbox"] {
  display: none;
}


.uk-search-input,
.uk-navbar-toggle {
  text-align: center;
  margin-top: -2rem;
  color: white;
}


.uk-modal-body {
  background-color: #0009;
}

.uk-card,
.uk-modal-body {
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 1rem 0.3rem #1f1f1f50;
  text-shadow: 0 0 1rem black;
}

.uk-badge {
  margin: 1rem 0 2rem 0;
}


li {
  -webkit-animation: slide 0.5s;
  animation: slide 0.5s;
}

.O {
  background-image: url("Assets/Backgrounds/Originals.webp");
}

.A {
  background-image: url("Assets/Backgrounds/Anime.webp");
}

.E {
  background-image: url("Assets/Backgrounds/English.webp");
}

.H {
  background-image: url("Assets/Backgrounds/Hindi.webp");
}

.K {
  background-image: url("Assets/Backgrounds/Korean.webp");
}

h3 {
  margin-left: 2rem
}


@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes drop {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
}

@media (orientation:landscape) {

  #info,
  #post,
  #github,
  #dark {
    margin: 0 0 0.2rem 1rem;
  }

  span {
    display: inline;
  }
}