@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  font-family: Ubuntu, monospace;
}
body{display:none;}

html,
h2,
h4,
p,
h1 {
  background-color: transparent;
  color: white;
}

nav {
  background-color: #ff4548;
  height: 3rem;
}

span {
  display: none;
}


.uk-navbar-left,
.uk-navbar-right {
  margin: auto;
}

.uk-search-input::-webkit-input-placeholder,
.uk-search-input::-moz-placeholder,.uk-search-input:-ms-input-placeholder,.uk-search-input::-ms-input-placeholder,.uk-search-input::placeholder {
  color: #fff7;
}



blockquote {
  background-color: #FF454845;
  color: #ff4548;
  margin: 1rem 1.87rem 1rem 1.87rem;
  padding: 0 1rem 0 1rem;
}

nav,
blockquote {
  -webkit-animation: drop 0.4s;
  animation: drop 0.4s;
}

input[type="checkbox"] {
  display: none;
}


.uk-search-input,
.uk-navbar-toggle {
  text-align: center;
  margin-top: -2rem;
  color: white;
}


.uk-modal-body {
  background: -o-radial-gradient(transparent, black);
  background: radial-gradient(transparent, black)
}

.uk-card {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#text,
.uk-card {
  color: white;
  text-shadow: 0 0 0.5rem #000;
}

.uk-badge {
  background-color: #ff4548;
  margin: 1rem 0 2rem 0;
}


li {
  -webkit-animation: slide 0.5s;
  animation: slide 0.5s;
}



h3 {
  margin-left: 2rem
}


@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes drop {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
}

@media (orientation:landscape) {

  #info,
  #post,
  #github,
  #dark {
    margin: 0 0 0.2rem 1rem;
  }

  span {
    display: inline;
  }
}
