body {
  height: 100vh;
  }
h1{
  background-color: crimson;
  color:white;
  box-shadow: 0 0.1rem 0.5rem gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 2rem;
}
img{
  height:4.5rem;
  margin:-0.75rem 0 -0.75rem 0;
}
blockquote{
  padding: 0 1rem 0 1rem;
  background-color: #FF436745;
  margin: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 1rem;
}

.link {
  background-color:crimson;
  padding:0.75rem;
  color:white;
  margin:0 1rem 1rem 1rem;
  border-radius: 50%;
  box-shadow: 0 0 0.75rem crimson;
}
label,h2,blockquote{
  color: crimson;
}


input[type="checkbox"] {
  display: none;
}

p,h4{
  color: white;
}

label,form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.uk-modal-body{
  background-color: #00000099;
}

html,.uk-search-input {
  background-color: #00000000;
  text-align:center;
}
.uk-padding{
  padding:1.5rem 1.5rem 0 1.5rem;
}

.uk-card,.uk-modal-body{border-radius:1rem;
  box-shadow:0 0 0.75rem grey;
}

p.uk-text-italic{
  background-color: #00000040;
}

@media screen and (orientation: landscape) {
  
  #grid1,#grid2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
  }
  .uk-card{width:40vw;}
}
