html{background-color:transparent}
body{height: 100vh;}

nav{
  background-color: #333333;
  animation:drop 1.25s;
  height:3rem;
}
img{
  height:1rem;
  margin:-0.5rem -1rem 0 0;
}
h2{margin: -2.5rem 0 -1rem -1rem}

.uk-navbar-right{margin-right:1rem;}
blockquote{
  background-color: #FF436745;
  margin: 1rem 1.5rem 1rem 1.5rem;
  padding: 0 1rem 0 1rem;
  border-radius: 1rem;
  animation: drop 750ms;
}
label,h2,blockquote,nav{color: crimson;}

input[type="checkbox"] {display: none;}

p,h4{color: white;}

label,form{
  display: flex;
  align-items: center;
  justify-content: center;
}
.G{margin-left:1%}

.uk-search-input,.uk-navbar-toggle{
  text-align: center;
  margin-top: -2rem;
}


.uk-modal-body{background-color: #00000099;}

.uk-card,.uk-modal-body{
  border-radius:1rem;
  box-shadow:0 0 0.75rem grey;
}
a.uk-text-italic{text-shadow: 0 0 0.5rem black;}

.uk-badge{margin:1rem 0 2rem 0;}

.uk-padding {
  color:red;
  animation: boom 750ms ;
}
.O{background-image: url("Assets/Backgrounds/Originals.webp");}
.A{background-image: url("Assets/Backgrounds/Anime.webp");}
.E{background-image: url("Assets/Backgrounds/English.webp");}
.H{background-image: url("Assets/Backgrounds/Hindi.webp");}

li{animation: slide 0.5s ease-in-out;}

@keyframes boom{
  0%{transform: scale(0)}
}
@keyframes drop{
  0%{
    transform: translateY(-100vh);
  }
}
@keyframes slide{
  0%{
    transform:translateX(-50vw);
    opacity:0;
    }
}